/* color vars to use*/
:root {
    --primary: tan;
    --secondary: rgba(75,182,239,1);
    --tertiary: rgba(49, 52, 61, 1);
    --brown: #a0522d;
    --tan: #d2b48c;
    --white: #ffffff;
    --textColor: #ffe599;
    --textBox: #764500;
    --lightBox: rgba(241,235,156);
}

body{
  background-color: var(--secondary);

}

body {
  background-color: var(--secondary);
}

header {
  display: flex;
  background-color: var(--lightBox);
  padding: 5px 10px 5px 10px;
  justify-content: space-evenly;
  flex-wrap:wrap;
  color: var(--textColor);
  border-radius: 8px;
}

header div {
  display:none;
}

header h1 {
  background-color: var(--textBox);
  padding:10px;
  border-radius: 8px;
  max-width: 85%;
}

header form {
  background-color: var(--textBox);
  padding:10px;
  border-radius:8px;
}

.search-btn {
  background-color: var(--lightBox);
}

.search-btn:hover {
  opacity:75%;
}

.container {
  display:flex;
  background-color: var(--lightBox);
  margin-top: 10px;
  border-radius:8px;
  padding: 10px;
  flex-wrap:wrap;
  justify-content: space-evenly;
  min-height: 350px;
  max-height:75%;
}

.savedItemsResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 25%;
  max-width: 33%;
  border: 1px solid gray;
  background-color: var(--textBox);
  color: var(--textColor);
  margin-right: 7px;
}

.saved-container ul {
  list-style-type: none;
  margin-left: -37px;
}

.searchedItemsResults {
  flex-wrap:wrap;
  flex: 1 1 auto;
  min-width: 65%;
  max-width: 75%;
  background-color: var(--textBox);
  color: var(--textColor);

}

.searchedItemsResultsPosition{
  display: flex;
}
