/* color vars to use*/
:root {
    --primary: tan;
    --secondary: rgba(75,182,239,1);
    --tertiary: rgba(49, 52, 61, 1);
    --brown: #a0522d;
    --tan: #d2b48c;
    --white: #ffffff;
    --textColor: #ffe599;
    --textBox: #764500;
    --lightBox: rgba(241,235,156);
/* <<<<<<< HEAD */
}
body{
  background-color: var(--secondary);

}

body {
  background-color: var(--secondary);
}

header {
display: flex;
background-color: var(--lightBox);
padding: 5px 10px 5px 10px;
justify-content: space-evenly;
flex-wrap:wrap;
color: var(--textColor);
border-radius: 8px;
}

header div {
  display:none;
}

header h1 {
background-color: var(--textBox);
padding:10px;
border-radius: 8px;

}

header form {
background-color: var(--textBox);
padding:10px;
border-radius:8px;
}
.savedItemsResults{
display: flex;
width: 320px;
height: 500px;
border: 1px solid gray;
background-color: var(--textBox);
color: var(--textColor);
border-radius: 8px;


}
.savedItemsResultsPosition{
  position: relative;
  top: 20px;
  left: 20px;
}
.searchedItemsResults{
display: flex;
height: 100px;
width: 72%;
background-color: var(--textBox);
color: var(--textColor);
border-radius: 8px;

}
.searchedItemsResultsPosition{
  position: relative;
  left: 25%;
  bottom: 482px;
}

.savedItemsResults {
  background-color: var(--lightBox);
  border-radius: 8px;
}
.lightBackgroundPosition{
  position: relative;
  top: 25px;
}


/*

.search-btn {
background-color: var(--lightBox);

}

.search-btn:hover {
opacity:75%;
}

/*
.body-container {
display:flex;
flex-wrap: wrap;
}

.saved-books {
margin: 5px 5px 5px 5px;
display: flex;
justify-content: flex-start;
max-width:25%;
}

.saved-books ul {
flex: 0 0 20%;
border-radius: 5px;

}

.list-items {
max-width: 75%;
justify-content: flex-end;

flex: 0 0 77%;
}

  */
